.act-index{
  width: 100%;
  margin-top: 30px;
  margin: 0 auto;
}

.act-none{
  margin-top: 100px;
  font-weight: 600;
  font-size: 24px;
}

.act-index a{
  display: block;
}

/* actリスト */
/* タイトル */
.act-big-title{
  display: flex;
  font-size: 24px;
  font-weight: 600;
}

.sentence-side{
  margin-left: 240px;
}
/* タイトル */

/* 内容側(下部) */
.act-table-list{
  display: flex;
  margin-bottom: 5px;
}

.introduce-down-side{
  margin-top: 20px;
}

.title-content-side{
  border-bottom: dashed 1px #dcdcdc;
}

.act-table-th{
  width: 250px;
}

.sentence-content-side{
  margin-left: 42px;
  width: 450px;
  border-bottom: dashed 1px #dcdcdc;
}

.act-index-content{
  display: flex;
  align-items: flex-end;
}

.act-table-td{
  width: 450px;
}
/* /内容側(下部) */

/* actリスト */

.act-table-th:hover, .act-table-td:hover {
  font-weight: 600;
}