/* 全体 */
.act-main-form{
  width: 400px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

.act-form-box{
  margin-bottom: 30px;
}
/* /全体 */

/* text-area */
.act-text-field{
  width: 500px;
  resize: none;
}
/* text-area */

/* submit */
.act-form-submit{
  width: 500px;
  text-align: center;
}

.act-submit{
  width: 50px;
  text-align: center;
}
/* /submit */