.footer{
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center;
}

.footer-app-title{
  font-weight: 600;
  font-size: 32px;
  color: white;
  margin-left: 30px;
}

.footer-app-title a:hover{
  color: gray;
}

.footer ul{
  display: flex;
  position: relative;
  right: 30px;
}

.footer li{
  margin-right: 20px;
}

.footer ul li, .footer a {
  color: white;
}

.footer a:hover {
  color: gray;
}