<div class="l-body">  
  <div class="header">
    <%= render "shared/header" %>
  </div>
  
  <%# header下線 %>
  <div class="header-border">
  </div>
  <%# /header下線 %>

  <%# 開閉メニュー %>
  <%= render partial: "shared/category_list", locals: {categories: @categories} %>
  <%# /開閉メニュー %>

  <div class="main-footer">
    <div class="main book-main">
      <div class="book-introduce-list">
        <%# 本の紹介リスト %>
        <%= render partial: "shared/books", locals: {books: @books} %>
      </div>
      <%# 本の紹介リスト %>
    </div>

    <div class="footer">
      <%= render "shared/footer" %>
    </div>
  </div>
</div>