<div class="app-title">
  <%= link_to "BookAct", root_path %>
</div>
<ul>
  <li>
    <%= link_to "本一覧", books_path %>
  </li>
  <li class="header-category category-range">
    <a href="#">
      カテゴリー
      <div class="arrow"></div>
    </a>
  </li>
  <li class="to-act-index">
    <%= link_to "Act一覧", acts_path%>
  </li>
  <li>
    <%= render "shared/search" %>
  </li>
</ul>

