/* 本紹介 左部 */
.book-show-upper{
  width: 45vw;
  position: relative;
}

  /* 左側上部 */
  .upper-left{
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }

  .show-book-img{
    width: 300px;
    height: 300px;
    background-color: gray;
    position: relative;
  }

  .info-no-image{
    position: absolute;
    top: 0;
    left: 0;
    color: #333;
    background-color: white;
    padding: 5px;
  }

  .none-image-text{
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    font-weight: 700;
  }
  /* 左側上部 */

  /* 左側下部 */
  .show-book-title{
    margin-top: 30px;
  }

  .upper-right{
    width: 40vw;
    margin: 0 auto;
    margin-top: 10px;
  }
  
  .upper-right dd{
    font-weight: 600;
    margin-top: 5px;
    margin-left: 16px;
    margin-bottom: 20px;
    border-bottom: dotted 1px gray;
  }
  
  .new-introduce-link{
    position: absolute;
    bottom: 0;
    width: 200px;
  }

  .show-book-title, .show-book-writer{
    overflow: scroll;
  }
  /* /左側かぶ */
/* /本紹介 左部 */

/* 本紹介 紹介部分 */
.none-contents{
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.none-contents span{
  position: relative;
  top: -100px;
}

.introduce-body{
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom:100px;
}

.introduce-top{
  display: flex;
  justify-content: space-between;
}

.introduce-title{
  font: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  padding-left: 20px;
}

.introduce-content{
  margin-bottom: 5px;
}

.introduce-options{
  display: flex;
  justify-content: flex-end;
}

.introduce-edit{
  margin-right: 20px;
}
/* /本紹介 紹介部分 */

/* 戻る */
.back-to-show{
  position: relative;
  top: 50px;
  width: 500px;
  margin: 0 auto;
  text-align: end;
}
/* 戻る */