.devise-body{
  width: 500px;
  min-height: 80vh;
  padding-top: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.devise-main{
  width: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: darkgray;
  color: white;
  padding-bottom: 20px;
}

.devise-main h2{
  margin-top: 10px;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.devise-form{
  width: 240px;
  margin-top: 5px;
}

.field{
  margin-bottom: 20px;
  height: 60px;
}

.devise-submit{
  padding: 0 10px;
}

.devise-option{
  width: 500px;
  display: flex;
  justify-content: flex-end;
  margin: 20px 30px 20px 0;
}

.devise-option a{
  color: white;
}

.devise-option a:hover{
  color: navy;
}

.field_with_errors{
  
}